<!DOCTYPE html>
<html>

<head>
    <title>forecast</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <meta charset="utf-8">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>

<body>
    <div class="container">
        <div class="banner">
            
        </div>
        <div class="weather">
        </div>
    </div>

<script type="text/javascript" src="../static/js/position.js"></script>
<script type="text/javascript" src="../static/js/helper.js"></script>
<script type="text/javascript" src="../static/js/http.js"></script>
</body>

</html>