<!DOCTYPE html>
<html>

<head>
    <title>forecast</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <meta charset="utf-8">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>

<body>
    <div class="container">
        <div class="banner">
            <a href="#" class="today">
                <p class="city"></p>
                <p class="fir-date">
                </p>
                <p class="quality">
                    
                </p>
                <div class="now">
                    <div class="_icon">
                        
                    </div>
                    <div class="info">
                        <span class="num"></span>
                        <span class="title">
                            <i class="title-sup">℃</i>
                            <i class="title-sub">晴(实时)</i>
                        </span>
                    </div>
                </div>
                <p class="temp">27 ~ 38℃</p>
                <p class="shidu"></p>
                <p class="_wind">无持续风向微风</p>
            </a>


            <a href="#" class="weatherItem" index="1">
                <div class="split"></div>
                <div class="hover"></div>
                <p class="sec-date">
                    
                </p>
                <p class="max">
                    
                </p>
                <p class="min"></p>
                <div class="icon"></div>
                <p class="weath"></p>
                <p class="wind"></p>
            </a>
            <a href="#" class="weatherItem" index="2">
                <div class="split"></div>
                <div class="hover"></div>
                <p class="sec-date">
                    
                </p>
                <p class="max">
                    
                </p>
                <p class="min"></p>
                <div class="icon"></div>
                <p class="weath"></p>
                <p class="wind"></p>
            </a>
            <a href="#" class="weatherItem" index="3">
                <div class="split"></div>
                <div class="hover"></div>
                <p class="sec-date">
                    
                </p>
                <p class="max">
                    
                </p>
                <p class="min"></p>
                <div class="icon"></div>
                <p class="weath"></p>
                <p class="wind"></p>
            </a>
            <a href="#" class="weatherItem" index="4">
                <div class="split"></div>
                <div class="hover"></div>
                <p class="sec-date">
                    
                </p>
                <p class="max">
                    
                </p>
                <p class="min"></p>
                <div class="icon"></div>
                <p class="weath"></p>
                <p class="wind"></p>
            </a>
            <a href="#" class="weatherItem" index="5">
                <div class="split"></div>
                <div class="hover"></div>
                <p class="sec-date">
                    
                </p>
                <p class="max">
                    
                </p>
                <p class="min"></p>
                <div class="icon"></div>
                <p class="weath"></p>
                <p class="wind"></p>
            </a>
        </div>
        <div class="weather">
            <ul class="inner">
                <li class="innerItem">
                    <p class="date-day"></p>
                    <div class="icon"></div>
                    <p class="weath"></p>
                </li>
                <li class="innerItem"></li>
                <li class="innerItem"></li>
                <li class="innerItem"></li>
                <li class="innerItem"></li>
                <li class="innerItem"></li>
            </ul>
            <canvas class="mycanvas">
                    
            </canvas>
        </div>
    </div>

<script type="text/javascript" src="../static/js/position.js"></script>
<script type="text/javascript" src="../static/js/helper.js"></script>
<script type="text/javascript" src="../static/js/http.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/weather.js"></script>
</body>

</html>